<tr>
  <td><%= book.title %></td>
  <td>
    <% if book.images.any? %>
      <% book.images.each do |image| %>
        <%= image_tag image.image, alt: book.title, class: "book-image" %>
      <% end %>
    <% end %>
  </td>
  <td><%= book.description %></td>
  <td>
    <% book.categories.each do |category| %>
      <%= category.category_name %><br>
    <% end %>
  </td>
  <td><%= book.published_year %></td>
  <td><%= book.book_ammount %></td>
  <td><%= book.publisher_name %></td>
  <td>
    <% book.authors.each do |author| %>
      <%= author.name %><br>
    <% end %>
  </td>
  <td><%= book.average_rating %></td>
  <td>
    <%= link_to "#" do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <span class="mx-2"></span>
    <%= link_to "#", method: :delete, data: { confirm: t("admin.delete") } do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr>
