<%= form_for [:admin, @book] do |f| %>
  <%= render "shared/error_messages", object: f.object  %>
  <div class="form-group">
    <%= f.label :title, t("admin.book.title") %>
    <span class="text-danger"><%= display_errors_for(@book, :title) %></span>
    <%= f.text_field :title, class: "form-control", placeholder: t("admin.book.title_holder") %>
  </div>

  <div class="form-group">
    <%= f.label :description, t("admin.book.description") %>
    <%= f.text_area :description, class: "form-control", placeholder: t("admin.book.description_holder") %>
  </div>

  <div class="form-group">
    <%= f.label :published_year, t("admin.book.published_year") %>
    <span class="text-danger"><%= display_errors_for(@book, :published_year) %></span>
    <%= f.number_field :published_year, class: "form-control", placeholder: t("admin.book.published_year_holder")%>
  </div>

  <div class="form-group">
    <%= f.label :book_amount, t("admin.book.book_amount") %>
    <span class="text-danger"><%= display_errors_for(@book, :book_amount) %></span>
    <%= f.number_field :book_amount, class: "form-control", placeholder: t("admin.book.book_amount_holder") %>
  </div>

  <div class="form-group">
    <%= f.label :publisher_id, t("admin.book.publisher_id") %>
    <span class="text-danger"><%= display_errors_for(@book, :publisher_id) %></span>
    <%= f.collection_select :publisher_id, Publisher.all, :id, :name, { prompt: t("admin.book.select_publisher") }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_ids, t("admin.book.categories") %>
    <span class="text-danger"><%= display_errors_for(@book, :category_ids) %></span>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :category_name do |cb| %>
      <div class="form-check">
        <%= cb.check_box %>
        <%= cb.label %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :author_ids, t("admin.book.authors") %>
    <span class="text-danger"><%= display_errors_for(@book, :author_ids) %></span>
    <%= f.collection_check_boxes :author_ids, Author.all, :id, :name do |cb| %>
      <div class="form-check">
        <%= cb.check_box %>
        <%= cb.label %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :images, t("admin.book.image") %>
    <% if @current_images.present? %>
      <div class="container">
        <div class="row">
          <% @current_images.each do |image| %>
            <div class="col-md-4">
              <%= image_tag url_for(image.image), alt: @book.title, class: "book-image" %>
              <div class="image-checkbox">
                <%= check_box_tag "remove_image_ids[]", image.id %>
                <%= label_tag "remove_image_ids_#{image.id}", t("admin.book.remove_image") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <p><%= t("admin.book.no_image") %></p>
    <% end %>
  </div>


  <div class="form-group">
      <%= f.label :images, t("admin.book.add_image") %>
      <% 5.times do |i| %>
        <%= f.fields_for :images, @book.images.build do |ff| %>
          <%= ff.file_field :image, class: "form-control", accept: "image/jpeg,image/gif,image/png"%>
          <br>
        <% end %>
      <% end %>
    </div>

  <div class="form-group">
    <%= f.submit t("admin.book.button"), class: "btn btn-primary" %>
  </div>
<% end %>
