<% provide(:title, t("admin.header.book")) %>
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"><%= t("admin.header.book")%></h1>
        <div class="card mb-4">
          <div class="card-body text-center ">
            <%= link_to t("admin.book.new"),new_admin_book_path , class: "btn btn-primary" %>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table me-1"></i>
              <%= t("admin.header.book")%> <%= t("admin.db") %>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-center align-items-center mt-4">
              <%= form_with url: admin_books_path, method: "get", class: "form-inline" do |form| %>
                <div class="input-group">
                  <%= form.text_field :search, id: "form1", class: "form-control-lg", placeholder: "Search" %>
                    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                      <i class="bi bi-search"></i>
                    <% end %>
                </div>
              <% end %>
            </div>
            <div class="search-box">
              </br>
              <%= form_tag admin_books_path, method: :get do %>
                <%= text_field_tag :book_search, params[:book_search], placeholder: t("admin.book.search_placeholder"), class: "form-control" %>
                </br>
                <%= submit_tag t("admin.book.search_button"), class: "btn btn-primary" %>
              <% end %>
            </div>
            <%= link_to t("admin.book.export"), export_excel_admin_books_path(format: :xlsx), class: "btn btn-primary mb-4" %>
            <table class="table table-bordered">
              <thead >
                <tr>
                  <th><%= t("admin.book.title") %></th>
                  <th><%= t("admin.book.image") %></th>
                  <th><%= t("admin.book.category") %></th>
                  <th><%= t("admin.book.published_year") %></th>
                  <th><%= t("admin.book.book_amount") %></th>
                  <th><%= t("admin.book.publisher_id") %></th>
                  <th><%= t("admin.book.authors") %></th>
                  <th><%= t("admin.book.average_rating") %></th>
                  <th><%= t("admin.book.actions") %></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "book", collection: @books %>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="digg_pagination">
                <%= will_paginate @books%>
            </div>
          </div>
        </div>
    </div>
  </main>
</div>
