<% provide(:title, t("admin.header.book")) %>
<div id="layoutSidenav_content">
  <main>
      <div class="container-fluid px-4">
          <h1 class="mt-4"><%= t("admin.header.book")%></h1>
          <div class="card mb-4">
              <div class="card-body text-center ">
                 <%= link_to t("admin.book.new"), new_admin_book_path, class: "btn btn-primary" %>
              </div>
          </div>
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-table me-1"></i>
                  <%= t("admin.header.book")%> DataTable
              </div>
              <div class="card-body">
                  <table id="datatablesSimple">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Category</th>
                          <th>Published Year</th>
                          <th>Book Amount</th>
                          <th>Publisher</th>
                          <th>Authors</th>
                          <th>Average Rating</th>
                          <th>Actions</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @books.each do |book| %>
                          <tr>
                            <td><%= book.title %></td>
                            <td><%= book.description %></td>
                            <td>
                              <% book.categories.each do |category| %>
                                <%= category.category_name %><br>
                              <% end %>
                            </td>
                            <td><%= book.published_year %></td>
                            <td><%= book.book_amount %></td>
                            <td><%= book.publisher.name %></td>
                            <td>
                              <% book.authors.each do |author| %>
                                <%= author.name %><br>
                              <% end %>
                            </td>
                            <td><%= book.average_rating %></td>
                            <td>
                              <%= link_to "#" do %>
                                <i class="fas fa-edit"></i>
                              <% end %>

                              <span class="mx-2"></span>

                              <%= link_to "#", method: :delete, data: { confirm: t("admin.delete") } do %>
                                <i class="fas fa-trash"></i>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </main>
