<tr>
  <td><%= author.name %></td>
  <td>
    <% if author.avatar.present? %>
      <%= image_tag author.avatar, alt: author.name, class: "book-image" %>
    <% end %>
  </td>
  <td><%= author.country %></td>
  <td><%= author.date_of_birth %></td>
  <td>
    <%= link_to "#" do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <span class="mx-2"></span>
    <%= link_to "#", method: :delete, data: { confirm: t("admin.delete") } do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr>
