<%= form_for [:admin, @author] do |f| %>
  <%= render "shared/error_messages", object: f.object  %>
  <div class="form-group">
    <%= f.label :name, t("admin.author.name") %>
    <span class="text-danger"><%= display_errors_for(@author, :name) %></span>
    <%= f.text_field :name, class: "form-control", placeholder: t("admin.author.name_holder") %>
  </div>

  <div class="form-group">
    <%= f.label :country, t("admin.author.country") %>
    <span class="text-danger"><%= display_errors_for(@author, :country) %></span>
    <%= f.text_field :country, class: "form-control", placeholder: t("admin.author.country_holder") %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth, t("admin.author.date_of_birth") %>
    <span class="text-danger"><%= display_errors_for(@author, :date_of_birth) %></span>
    <%= f.date_field :date_of_birth, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :avatar, t("admin.author.avatar") %>
    <% if @author.avatar.attached? %>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag url_for(@author.avatar), class: "book-image" %>
        </div>
      </div>
      <br>
    <% end %>
    <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png", id: "author_avatar", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit t("admin.book.button"), class: "btn btn-primary" %>
  </div>
<% end %>
