<div class="card" style="width: 18rem;">
  <img src=<%=@book.images[0].image%> class="card-img-top">
  <div class="card-body">
    <h4 class="card-title"><%= @book.title %></h4>
    <h5 class="card-title"><%= @book.book_amount %> <%=t("admin.book.remaining")%></h5>
    <p class="card-text"><%= @book.description %></p>
    <%= link_to(t("admin.book.detail"),book_path(@book),class: "btn btn-primary" )%>
  </div>
</div>
