<section class="py-2">
  <%= render "shared/back_button" %>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <div style="z-index: 1">
              <% if @author.avatar.attached? %>
                <%= image_tag url_for(@author.avatar), alt:"Generic placeholder image",class: "img-thumbnail mt-4 mb-2", style: "width: 150px; height: 150px;" %>
              <% else %>
                <%= t("admin.author.no_avatar") %>
              <% end %>
              </div>
                <div style="z-index: 1;" class="d-flex justify-content-center" >
                  <%= render "form_follow" %>
                </div>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5><%= @author.name %></h5>
              <p><%= @author.country %></p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5 mx-5"><%= @author.follows.count  %></p>
                <p class="small text-muted mb-0"><%=t("authors.show.follower") %></p>
              </div>
              <div>
                <p class="mb-1 h5"><%= @author.books.count %></p>
                <p class="small text-muted mb-0"><%=t("authors.show.books") %></p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">

            <div class="mb-5">
              <p class="lead fw-normal mb-1"><%=t("authors.show.about") %></p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"><%= t("authors.show.dob") %> <%= @author.date_of_birth %></p>
                <p class="font-italic mb-0"><%= t("authors.show.nationality") %> <%= @author.country %></p>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0"><%= t("authors.show.books_info") %></p>
            </div>

            <div class="row row-cols-3">
              <% @author.books.map.each do |book| %>
                <div class="col mt-3">
                <img src= <%= book.images[0]&.image %>
                  alt="image" class="w-100 rounded-3">
                  <p>
                    <%= link_to book.title, book %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
