<div class="d-flex justify-content-center align-items-center mt-4">
  <%= form_with url: publishers_path, method: "get", class: "form-inline" do |form| %>
    <div class="input-group">
      <%= form.text_field :search, id: "form1", class: "form-control-lg", placeholder: "Search" %>
        <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          <i class="bi bi-search"></i>
        <% end %>
    </div>
  <% end %>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">
                <div class="filter-result">
                    <h2 class="mb-30 ff-montserrat">
                       <%= t("publishers.index.total")%> <%=@publishers.count%>
                    </h2>
                    <%= will_paginate renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
                    <%= render @publishers %>
                    <%= will_paginate %>
                </div>
            </div>
        </div>
    </div>
</div>
