<div class="container">
   <h1><%= @book.title %></h1>
   <div class="row">
      <div class="col-md-6">
         <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner " >
               <% @book.images.each_with_index do |image, index| %>
               <div class="carousel-item card-img-top <%= 'active' if index.zero? %> ">

                    <img class="d-block w-100 img-content" src="<%= image.image %>" alt="Image <%= index + 1 %>">

               </div>
               <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
            </button>
         </div>
         <p><strong><%= t("book.authors")%>:</strong> <%= @book.authors.pluck(:name).join(", ") %></p>
         <p><strong><%= t("book.publisher")%>:</strong> <%= @book.publisher_name %></p>
         <p><strong><%= t("book.published_year")%>:</strong> <%= @book.published_year %></p>
         <p><strong><%= t("book.description")%>:</strong> <%= @book.description %></p>
         <p><strong><%= t("book.amount")%>:</strong> <%= @book.book_amount %></p>
         <p><strong><%= t("book.categories")%>:</strong> <%= @book.categories.pluck(:category_name).join(", ") %></p>
      </div>
      <div class="col-md-6 d-flex align-items-end mb-3">
         <strong><%= t("book.rate")%>: </strong>
         <%= @book.average_rating.round(1) %>
         <i class="fa fa-star rating-color mb-1"></i>
      </div>
   </div>
   <h2><%= t("book.review")%></h2>
   <ul class="list-group">
      <% @book.reviews.each do |review| %>
      <li class="list-group-item">
         <h4><%= review.user_name %></h4>
         <p><%= review.comment %></p>
         <div class="d-flex align-items-center">
            <h5 class="review-stat"><%= t("book.user_rate")%>: </h5>
            <div class="small-ratings">
               <% review.rating.to_i.times do %>
                  <i class="fa fa-star rating-color"></i>
               <% end %>
               <% (5 - review.rating.to_i).times do %>
                  <i class="fa fa-star"></i>
               <% end %>
            </div>
        </div>
      </li>
      <% end %>
   </ul>
   <%= link_to t("book.back"), root_path, class: "btn btn-secondary mt-3" %>
</div>
