<% provide(:title, t("admin.publisher.details")) %>
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4"><%= t("admin.publisher.details") %></h1>

      <div class="card mb-4">
        <div class="card-body">
          <h2><%= t("admin.publisher.info") %></h2>

          <dl class="row">
            <dt class="col-sm-3"><%= t("admin.publisher.name") %>:</dt>
            <dd class="col-sm-9"><%= @publisher.name %></dd>

            <dt class="col-sm-3"><%= t("admin.publisher.email") %>:</dt>
            <dd class="col-sm-9"><%= @publisher.email %></dd>

            <dt class="col-sm-3"><%= t("admin.publisher.address") %>:</dt>
            <dd class="col-sm-9"><%= @publisher.address %></dd>
          </dl>

          <%= link_to t("admin.publisher.edit"), edit_admin_publisher_path(@publisher), class: "btn btn-primary" %>
          <%= link_to t("admin.book.back"), admin_publishers_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </main>
</div>
