<tr>
  <td><%= transaction.id %></td>
  <td><%= transaction.user_name %></td>
  <td><%=link_to transaction.book_title, book_path(transaction.book) %></td>
  <td><%= transaction.borrow_date %></td>
  <td><%= transaction.expire_date %></td>
  <td><%= transaction.status %></td>
  <td><%= transaction.amount %></td>
  <td>
  <% if transaction.pending? %>
    <%= form_with model: transaction, url: admin_transaction_path(transaction), method: :patch do |form| %>
      <%= form.hidden_field :status, value: "success" %>
      <%= form.button t("admin.transaction.select.accept"), class: "btn btn-success" %>
    <% end %>
    <%= form_with model: transaction, url: admin_transaction_path(transaction), method: :patch do |form| %>
      <%= form.hidden_field :status, value: "fail" %>
      <%= form.button t("admin.transaction.select.deny"), class: "btn btn-danger" %>
    <% end %>
  <% end %>
  </td>
</tr>
