<% provide(:title, t("admin.header.dashboard")) %>
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4"><%= t("admin.header.dashboard")%></h1>
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4">
            <div class="card-body"><%= t("admin.dashboard.user") %></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <div class="small text-white " ><%= @user_count %> </div>
            </div>
          </div>
          </div>
            <div class="col-xl-3 col-md-6">
              <div class="card bg-warning text-white mb-4">
                <div class="card-body"><%= t("admin.dashboard.book") %></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <div class="small text-white " ><%= @book_count %> </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card bg-success text-white mb-4">
                <div class="card-body"><%= t("admin.dashboard.author") %></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <div class="small text-white " ><%= @author_count %> </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card bg-danger text-white mb-4">
                <div class="card-body"><%= t("admin.dashboard.publisher") %></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <div class="small text-white " ><%= @publisher_count %></div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
              <div class="card-body"><%= t("admin.dashboard.cagetory") %></div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <div class="small text-white " ><%= @category_count %></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
              <div class="card-body"><%= t("admin.dashboard.transaction") %></div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white " ><%= @pending_transaction_count %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="transaction-info">
          <h4><%= t("admin.dashboard.most_borrowed") %></h4>
          <div class="transaction-count">
            <div class="count-label"><%= t("admin.dashboard.most_borrowed_month") %></div>
            <div class="count-value"><%= @most_borrowed_month.category_name %></div>
          </div>
          <div class="transaction-count">
            <div class="count-label"><%= t("admin.dashboard.most_borrowed_year") %></div>
            <div class="count-value"><%= @most_borrowed_year.category_name %></div>
          </div>
        </div>

        <div>
          <h4><%= t("admin.dashboard.book_category") %></h4>
        </div>
          <table class="table table-bordered">
            <thead>
                <tr>
                <th><%= t("admin.category.name") %></th>
                <th><%= t("admin.category.book") %></th>
                </tr>
            </thead>
            <tbody>
                <%= render partial: "category_book", collection: @category_books %>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="digg_pagination">
                <%= will_paginate @category_books%>
            </div>
        </div>
    </div>
  </main>
</div>
