<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.gender %></td>
  <td>
  <% if user.activated%>
      <%= link_to t("inactivate"), active_admin_user_path(user), data: { "turbo-method": :post}, class: "nav-link"%>
  <% else %>
      <%= link_to t("activate"), active_admin_user_path(user), data: { "turbo-method": :post}, class: "nav-link" %>
  <% end %>
  </td>
</tr>
