<tr>
  <td><%= transaction.id %></td>
  <td><%= transaction.user_name %></td>
  <td><%=link_to transaction.book_title, book_path(transaction.book) %></td>
  <td><%= transaction.borrow_date %></td>
  <td><%= transaction.expire_date %></td>
  <td><%= transaction.status %></td>
  <td><%= transaction.amount %></td>
  <td><%= transaction.updated_at %></td>
  <td>
  <% if transaction.pending? %>
    <%= link_to t("admin.transaction.select.cancel"), user_transaction_path(@user, transaction), data: { "turbo-method": :delete}, class: "btn btn-danger", remote: true %>
  <% end %>
  </td>
</tr>
