<%= form_with(model: [@book, Review.new], class: 'form') do |f| %>
<div class="field form-group p-5" style="background-color:#f5f5f5">
  <p>
      <strong>
        <%= current_user.name%>
      </strong>
   </p>
  <%= f.label :rating, t("review.rating") %>
  <div class="rating">
      <%= f.collection_radio_buttons(:rating, [[5],[4],[3],[2],[1]], :first, :last) do |star| %>
      <%= star.radio_button %>
      <%= star.label(class: "text-white") %>
      <% end %>
  </div>
  <div class="field form-group">
      <%= f.label :body, t("review.comment") %>
      <%= f.text_area :comment, class: "form-control",
         placeholder: t("review.comment_place") %>
  </div>
  <div class="actions mt-3">
      <%= f.submit t("review.create_button"), class: "btn btn-primary" %>
  </div>
</div>
<% end %>
