<header id="header" class="header d-flex align-items-center">
   <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <h3><%= link_to t("title"), "#" , class: "navbar-brand px-5"%></h3>
      <nav id="navbar" class="navbar">
         <ul>
         <li>
            <%= link_to t("home"), root_path, class: "nav-link" %>
         </li>
         <li>
            <%= link_to t("books"), "#", class: "nav-link" %>
         </li>
         <% if logged_in? %>
         <li>
            <%= link_to t("favorites"),user_like_books_path(current_user), class: "nav-link"%>
         </li>
         <li class="dropdown">
            <a href="#"><span><%= t("profile")%></span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
               <li>
                  <%= link_to t("setting"), edit_user_path(current_user), class: "nav-link"%>
               </li>
               <li>
                  <%= link_to t("log_out"), logout_path,
                     data: { "turbo-method": :delete },
                     class: "nav-link" %>
               </li>
            </ul>
         </li>
         <% else %>
         <li>
            <%= link_to t("log_in"), login_path, class: "nav-link" %>
         </li>
         <% end %>
      </nav>
   </div>
</header>
